# Python
__pycache__/

# Virtual environment
.venv/

# Other files in my folder
train.py
evaluate copy.py
potato_tower_env copy.py
potato_tower_env.py
evaluate.py
svg/
svg_to_polygons.py
potato_shapes.py